Repository pydiverse/pydiverse.pipedag: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-merge-conflict, insert-license

taplo:
  name: taplo
  entry: pixi run -e lint taplo format
  language: system

check-merge-conflict:
  name: check-merge-conflict
  entry: pixi run -e lint check-merge-conflict --assume-in-merge
  language: system

insert-license:
  name: insert-license
  entry: pixi run -e lint insert-license --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIGFuZCBweWRpdmVyc2UgY29udHJpYnV0b3JzIDIwMjUtMjAyNQpTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg== --dynamic-years --comment-style "#"
  language: system

Reduce typos.toml
  typos.toml
Due: taplo, check-merge-conflict

ci: Increase timeout
  .github/workflows/test.yml
Due: check-merge-conflict

ci: Increase timeout (#244)
  .github/workflows/test.yml
Due: check-merge-conflict

feat: Add columnstore support for mssql
  docs/package/README.md
  pipedag.yaml
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
  tests/fixtures/instances.py
  tests/test_cache/test_ignore_cache_function.py
  tests/test_unicode.py
Due: check-merge-conflict, insert-license

chore: Fix numpy import issues
  docs/source/changelog.md
  pixi.lock
  pixi.toml
Due: taplo, check-merge-conflict

moved utils to pydiverse.common and updated dependencies and tests
  .github/scripts/check_deps.sh
  .github/workflows/tests.yml
  pixi.lock
  pixi.toml
  pyproject.toml
  src/pydiverse/pipedag/errors/__init__.py
  src/pydiverse/pipedag/util/__init__.py
  src/pydiverse/pipedag/util/computation_tracing.py
  src/pydiverse/pipedag/util/deep_map.py
  src/pydiverse/pipedag/util/deep_merge.py
  src/pydiverse/pipedag/util/disposable.py
  src/pydiverse/pipedag/util/hashing.py
  src/pydiverse/pipedag/util/import_.py
  src/pydiverse/pipedag/util/structlog.py
Due: taplo, check-merge-conflict, insert-license

chore: Fix numpy import issues (#246)
  docs/source/changelog.md
  pixi.lock
  pixi.toml
Due: taplo, check-merge-conflict

ci: Use SQL Server docker image instead of Azure edge
  docker-compose.yaml
  docs/source/changelog.md
Due: check-merge-conflict

ci: Use SQL Server docker image instead of Azure edge (#245)
  docker-compose.yaml
  docs/source/changelog.md
Due: check-merge-conflict

Document SQLTableStore parameters in config.md
  docs/source/changelog.md
  docs/source/reference/config.md
Due: check-merge-conflict

Improve docstring
  src/pydiverse/pipedag/backend/table/sql/sql.py
Due: check-merge-conflict, insert-license

improve documentation
  docs/source/reference/api.rst
  docs/source/reference/config.md
  src/pydiverse/pipedag/backend/table/sql/dialects/ibm_db2.py
  src/pydiverse/pipedag/backend/table/sql/dialects/postgres.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
Due: check-merge-conflict, insert-license

changelog
  docs/source/changelog.md
Due: check-merge-conflict

Revert change to `config.md`
  docs/source/reference/config.md
Due: check-merge-conflict

Improve documentation of materialization details (#130)
  docs/source/changelog.md
  docs/source/reference/api.rst
  src/pydiverse/pipedag/backend/table/sql/dialects/ibm_db2.py
  src/pydiverse/pipedag/backend/table/sql/dialects/postgres.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
Due: check-merge-conflict, insert-license

Documentation
  docs/source/reference/api.rst
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
Due: check-merge-conflict, insert-license

feat: Add columnstore support for mssql (#243)
  docs/package/README.md
  docs/source/changelog.md
  docs/source/reference/api.rst
  pipedag.yaml
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
  tests/fixtures/instances.py
  tests/test_cache/test_ignore_cache_function.py
  tests/test_unicode.py
Due: check-merge-conflict, insert-license

quickhack arrow-odbc support in mssql
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb.py
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  tests/parallelize/worker.py
  tests/test_table_hooks/test_polars.py
  tests/test_table_hooks/test_polars_dataframely.py
Due: taplo, check-merge-conflict, insert-license

changed order to put mssqlkit code last
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
Due: check-merge-conflict, insert-license

started implementing colspec/dataframe tests
  tests/test_annotation_integrations/test_colspec.py
  tests/test_annotation_integrations/test_colspec_polars.py
  tests/test_annotation_integrations/test_dataframely.py
Due: check-merge-conflict, insert-license

fixed optional dask dependency
  src/pydiverse/pipedag/__init__.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/core/flow.py
  src/pydiverse/pipedag/core/stage.py
  src/pydiverse/pipedag/materialize/core.py
  src/pydiverse/pipedag/materialize/materializing_task.py
  src/pydiverse/pipedag/util/json.py
  tests/test_annotation_integrations/test_colspec_polars.py
  tests/test_annotation_integrations/test_dataframely.py
  tests/test_cache/test_basic_cache_invalidation.py
  tests/test_dask.py
  tests/test_table_hooks/test_pandas_hook.py
Due: check-merge-conflict, insert-license

Changes that were forgotten during merge
  .github/workflows/test.yml
  docker-compose.yaml
  docs/source/reference/api.rst
  pipedag.yaml
  pixi.toml
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/dialects/ibm_db2.py
  src/pydiverse/pipedag/backend/table/sql/dialects/postgres.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
  tests/fixtures/instances.py
  tests/test_cache/test_ignore_cache_function.py
  tests/test_unicode.py
Due: taplo, check-merge-conflict, insert-license

Prevent isort from destroying internal import dependency order.
  src/pydiverse/pipedag/__init__.py
  src/pydiverse/pipedag/core/__init__.py
Due: check-merge-conflict, insert-license

Install pixi for linting CI.
  .github/workflows/tests.yml
Due: check-merge-conflict

Fix optional dataframely import in tests.
  tests/test_annotation_integrations/test_dataframely.py
Due: check-merge-conflict, insert-license

Fix dependencies in pyproject.toml
  pyproject.toml
Due: taplo, check-merge-conflict

Fix annotation parsing after removing "from __future__ import annotations"
  src/pydiverse/pipedag/context/context.py
Due: check-merge-conflict, insert-license

Extend prefect testing.
  .github/workflows/tests.yml
  pixi.lock
  pixi.toml
Due: taplo, check-merge-conflict

Fix pixi lock file.
  pixi.lock
Due: check-merge-conflict

update dependencies in pyproject.toml
  pyproject.toml
Due: taplo, check-merge-conflict

Fix ibis and external reference test.
  tests/test_table_hooks/test_ibis.py
  tests/test_table_hooks/test_sql_table_reference.py
Due: check-merge-conflict, insert-license

Fix pixi.toml/pyproject.toml consistency.
  pixi.toml
Due: taplo, check-merge-conflict

Fix tests for optional dependency pdt.transform.
  tests/test_annotation_integrations/test_colspec.py
Due: check-merge-conflict, insert-license

Fix ibis support.
  pixi.toml
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: taplo, check-merge-conflict, insert-license

Fix pandas_hook tests for python 3.13.
  tests/test_table_hooks/test_pandas_hook.py
Due: check-merge-conflict, insert-license

Fix tidypolars tests for python 3.10.
  pixi.lock
  pixi.toml
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  tests/test_table_hooks/test_tidypolars.py
Due: taplo, check-merge-conflict, insert-license

Path conditions:
  taplo: any of: \.toml$, but not: ^.pixi$
  check-merge-conflict: any of: not (.rst$), but not: ^.pixi$
  insert-license: any of: \.py$, but not: ^.pixi$
