Repository pydiverse/pydiverse.pipedag: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-merge-conflict, insert-license

taplo:
  name: taplo
  entry: pixi run -e lint taplo format
  language: system

check-merge-conflict:
  name: check-merge-conflict
  entry: pixi run -e lint check-merge-conflict --assume-in-merge
  language: system

insert-license:
  name: insert-license
  entry: pixi run -e lint insert-license --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIGFuZCBweWRpdmVyc2UgY29udHJpYnV0b3JzIDIwMjUtMjAyNQpTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg== --dynamic-years --comment-style "#"
  language: system

Fix pre-commit dependency.
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: check-merge-conflict, insert-license

Fix table materialization for views. Don't materialize their source again.
  src/pydiverse/pipedag/materialize/store.py
Due: check-merge-conflict, insert-license

Fix pdsa1 support.
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: check-merge-conflict, insert-license

Fix orchestration tests.
  src/pydiverse/pipedag/backend/table/sql/sql.py
  src/pydiverse/pipedag/engine/prefect.py
  src/pydiverse/pipedag/materialize/store.py
Due: check-merge-conflict, insert-license

Update documentation that View and ExternalTableReference are always auto_table.
  docs/source/changelog.md
  docs/source/parquet_s3.md
  example_ibm_db2/pipedag.yaml
  example_mssql/pipedag.yaml
  example_parquet_s3/pipedag.yaml
  example_postgres/pipedag.yaml
  pipedag.yaml
Due: check-merge-conflict

Fix colspec optional dependency.
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: check-merge-conflict, insert-license

Improved View documentation.
  docs/source/reference/api.rst
  src/pydiverse/pipedag/container/__init__.py
Due: check-merge-conflict, insert-license

Improved View documentation.
  src/pydiverse/pipedag/container/__init__.py
Due: check-merge-conflict, insert-license

Improve View documentation.
  docs/source/examples/best_practices_inline.md
  docs/source/parquet_s3.md
Due: check-merge-conflict

Prepare release 0.10.12
  pyproject.toml
Due: taplo, check-merge-conflict

Prevent some logger.error messages in tests that expect to raise errors.
  src/pydiverse/pipedag/__init__.py
  tests/test_cache/test_basic_cache_invalidation.py
  tests/test_input_stage_versions.py
  tests/test_table_hooks/test_pandas_hook.py
Due: check-merge-conflict, insert-license

Prevent some logger.error messages in tests that expect to raise errors.
  tests/test_compression.py
Due: check-merge-conflict, insert-license

Prevent some logger.error messages in tests that expect to raise errors.
  docs/source/changelog.md
  src/pydiverse/pipedag/backend/table/sql/sql.py
  src/pydiverse/pipedag/context/context.py
  src/pydiverse/pipedag/materialize/details.py
  tests/test_compression.py
  tests/test_materialize.py
Due: check-merge-conflict, insert-license

fix: Fix materialization details error handling
  src/pydiverse/pipedag/backend/table/sql/dialects/ibm_db2.py
  src/pydiverse/pipedag/backend/table/sql/dialects/postgres.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
  src/pydiverse/pipedag/materialize/details.py
Due: check-merge-conflict, insert-license

Potentially fixed mssql problem by using a separate instance_id.
  pipedag.yaml
  tests/test_input_stage_versions.py
Due: check-merge-conflict, insert-license

Fixed pandas adbc download.
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
Due: check-merge-conflict, insert-license

Reduced error messages for expected exceptions and improve str/repr for Flow, ConfigContext, DagContext, ...
  docs/source/changelog.md
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/context/context.py
  src/pydiverse/pipedag/context/run_context.py
  src/pydiverse/pipedag/core/flow.py
  src/pydiverse/pipedag/materialize/store.py
  src/pydiverse/pipedag/util/ipc.py
  tests/test_annotation_integrations/test_colspec.py
  tests/util/pytest_raises.py
Due: check-merge-conflict, insert-license

Fix test after pyarrow-odbc fix.
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  tests/test_table_hooks/test_pandas_hook.py
Due: check-merge-conflict, insert-license

Fix pdsa1 tests.
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: check-merge-conflict, insert-license

Disable lock manager tests for ColSpec and S3 test sets.
  .github/workflows/tests.yml
  pytest.ini
  tests/conftest.py
  tests/test_lock_manager.py
Due: check-merge-conflict, insert-license

Fix typo in --no-lock_tests
  .github/workflows/tests.yml
Due: check-merge-conflict

Beautify query for ParquetTableStore if a View only links multiple parquet files.
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  tests/test_materialize.py
Due: check-merge-conflict, insert-license

Fix optional dependency bug in latest test.
  src/pydiverse/pipedag/materialize/table_hook_base.py
  src/pydiverse/pipedag/util/json.py
  tests/test_materialize.py
Due: check-merge-conflict, insert-license

Every SQLTableStore has member self.materialization_details.
  src/pydiverse/pipedag/backend/table/sql/dialects/ibm_db2.py
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/dialects/postgres.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
Due: check-merge-conflict, insert-license

Somehow sa.select("*") can create a race condition with prefect backend.
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  tests/util/tasks_library.py
Due: check-merge-conflict, insert-license

Convert auto_table error to warning in pipedag tests.
  src/pydiverse/pipedag/context/context.py
Due: check-merge-conflict, insert-license

Convert auto_table error to warning in pipedag tests.
  pyproject.toml
Due: taplo, check-merge-conflict

Fix changelog date for 0.11.0
  docs/source/changelog.md
Due: check-merge-conflict

Make ParquetTableStore available on same level as SqlTableStore in public interface.
  docs/source/changelog.md
  docs/source/examples/best_practices_inline.md
  docs/source/parquet_s3.md
  docs/source/reference/api.rst
  docs/source/table_backends.md
  example_parquet_s3/pipedag.yaml
  pipedag.yaml
  src/pydiverse/pipedag/backend/table/__init__.py
Due: check-merge-conflict, insert-license

Fixes to sphinx documentation.
  docs/source/examples/best_practices_inline.md
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
  src/pydiverse/pipedag/container/__init__.py
  src/pydiverse/pipedag/materialize/core.py
Due: check-merge-conflict, insert-license

Reduce error messages in successful tests.
  src/pydiverse/pipedag/materialize/core.py
  tests/test_annotation_integrations/test_colspec.py
  tests/test_annotation_integrations/test_colspec_polars.py
  tests/test_annotation_integrations/test_dataframely.py
  tests/test_input_stage_versions.py
  tests/test_materialize.py
  tests/util/tasks_library.py
Due: check-merge-conflict, insert-license

Reduce error messages in successful tests.
  src/pydiverse/pipedag/backend/table/sql/sql.py
  tests/test_materialize.py
Due: check-merge-conflict, insert-license

Reduce error messages in successful tests.
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: check-merge-conflict, insert-license

Update documentation and reduce error messages in successful tests (#285)
  docs/source/changelog.md
  docs/source/examples/best_practices_inline.md
  docs/source/parquet_s3.md
  docs/source/reference/api.rst
  docs/source/table_backends.md
  example_parquet_s3/pipedag.yaml
  pipedag.yaml
  src/pydiverse/pipedag/backend/table/__init__.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
  src/pydiverse/pipedag/container/__init__.py
  src/pydiverse/pipedag/materialize/core.py
  tests/test_annotation_integrations/test_colspec.py
  tests/test_annotation_integrations/test_colspec_polars.py
  tests/test_annotation_integrations/test_dataframely.py
  tests/test_input_stage_versions.py
  tests/test_materialize.py
  tests/util/tasks_library.py
Due: check-merge-conflict, insert-license

Fixed api.rst.
  docs/source/reference/api.rst
Due: none

Path conditions:
  taplo: any of: \.toml$ and not (^pixi\.toml$) and not (^.pixi$)
  check-merge-conflict: any of: not (.rst$), but not: ^.pixi$
  insert-license: any of: \.py$, but not: ^.pixi$
