Repository pydiverse/pydiverse.pipedag: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-merge-conflict, insert-license

.pre-commit-config.yaml:

exclude: ^.pixi$
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # ruff
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      # - id: mypy
      #   name: mypy
      #   entry: pixi run -e lint mypy
      #   language: system
      #   types: [python]
      #   require_serial: true
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]
        exclude: ^pixi\.toml$  # environments should be one-liners
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
        exclude: ".rst$"
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # insert-license
      - id: insert-license
        name: insert-license
        entry: >-
          pixi run -e lint
          insert-license
          --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIGFuZCBweWRpdmVyc2UgY29udHJpYnV0b3JzIDIwMjUtMjAyNQpTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg==
          --dynamic-years
          --comment-style "#"
        language: system
        types: [python]

Fixed _copy_table which runs in thread and doesn't have ConfigContext.
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
Due: check-merge-conflict, insert-license

Fixed debug materialization which can run outside ConfigContext.
  src/pydiverse/pipedag/backend/table/cache/parquet.py
  src/pydiverse/pipedag/backend/table/dict.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/materialize/debug.py
  src/pydiverse/pipedag/materialize/table_hook_base.py
Due: check-merge-conflict, insert-license

Smaller catch section for CacheError.
  src/pydiverse/pipedag/materialize/materializing_task.py
Due: check-merge-conflict, insert-license

Fix bug introduced when improving CacheError handling.
  src/pydiverse/pipedag/materialize/materializing_task.py
Due: check-merge-conflict, insert-license

Fix DropTable in test by adding cascade=True.
  tests/test_table_hooks/test_sql_table_reference.py
Due: check-merge-conflict, insert-license

Fix issubclass without isclass.
  src/pydiverse/pipedag/container/__init__.py
Due: check-merge-conflict, insert-license

Update pixi lockfile
  pixi.lock
Due: check-merge-conflict

update pyproject.toml dependencies
  pyproject.toml
Due: taplo, check-merge-conflict

Fix smoke tests
  src/pydiverse/pipedag/util/testing_s3.py
  tests/conftest.py
Due: check-merge-conflict, insert-license

Fix non-S3 tests.
  tests/conftest.py
Due: check-merge-conflict, insert-license

Fix mssql tests.
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: check-merge-conflict, insert-license

Fix duckdb tests to really need no postgres container running.
  tests/test_flows/complex_config_flows/test_instance_selection.py
  tests/test_flows/complex_config_flows/test_locking_instances.py
  tests/test_flows/test_example.py
  tests/test_inputs.py
  tests/test_run_subflow.py
Due: check-merge-conflict, insert-license

Fix sqlalchemy 1.x: TryCast does not exist.
  src/pydiverse/pipedag/backend/table/sql/ddl.py
Due: check-merge-conflict, insert-license

Fix ibm_db2 tests.
  tests/test_table_hooks/test_pdtransform.py
Due: check-merge-conflict, insert-license

Update changelog.md
  docs/source/changelog.md
Due: check-merge-conflict

Fix pypi dependencies in 0.10.1.
  .github/scripts/check_deps.sh
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

Switch psycopg2 to psycopg2-binary for pypi version.
  .github/scripts/check_deps.sh
  .github/workflows/release.yml
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

Fix ibm_db2 support for pdc.Enum.
  src/pydiverse/pipedag/backend/table/sql/dialects/ibm_db2.py
Due: check-merge-conflict, insert-license

fix: Do not depend on kazoo for importing zookeeper.py
  docs/source/changelog.md
  src/pydiverse/pipedag/backend/lock/zookeeper.py
Due: check-merge-conflict, insert-license

fix: Correct warning message for polars upload_table
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
Due: check-merge-conflict, insert-license

Try fix docker_compose_ready.sh
  .github/scripts/docker_compose_ready.sh
  .github/workflows/test.yml
Due: check-merge-conflict

fix multi-line services
  .github/workflows/test.yml
Due: check-merge-conflict

fix: Correct warning message for polars upload_table (#252)
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
Due: check-merge-conflict, insert-license

Disable zookeeper tests if kazoo is not installed.
  .github/workflows/tests.yml
  tests/test_flows/complex_config_flows/test_locking_instances.py
  tests/test_lock_manager.py
Due: check-merge-conflict, insert-license

Fix docker_compose_ready.sh
  .github/scripts/docker_compose_ready.sh
Due: check-merge-conflict

Rename CanResult CanMatResult
  src/pydiverse/pipedag/backend/table/cache/parquet.py
  src/pydiverse/pipedag/backend/table/dict.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/materialize/table_hook_base.py
Due: check-merge-conflict, insert-license

Hide warning that table cache did not store a SQL table reference.
  src/pydiverse/pipedag/backend/table/cache/parquet.py
  src/pydiverse/pipedag/backend/table/dict.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/errors/__init__.py
  src/pydiverse/pipedag/materialize/store.py
  src/pydiverse/pipedag/materialize/table_hook_base.py
  tests/test_cache/test_local_table_cache.py
Due: check-merge-conflict, insert-license

Hide warning for parquet table cache not being able to write sql reference (#253)
  src/pydiverse/pipedag/backend/table/cache/parquet.py
  src/pydiverse/pipedag/backend/table/dict.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/errors/__init__.py
  src/pydiverse/pipedag/materialize/store.py
  src/pydiverse/pipedag/materialize/table_hook_base.py
  tests/test_cache/test_local_table_cache.py
Due: check-merge-conflict, insert-license

prepare 0.10.3 release
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

switch type of context manager
  tests/test_lock_manager.py
Due: check-merge-conflict, insert-license
