Repository pydiverse/pydiverse.pipedag: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-merge-conflict, insert-license

.pre-commit-config.yaml:

exclude: ^.pixi$
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # ruff
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      # - id: mypy
      #   name: mypy
      #   entry: pixi run -e lint mypy
      #   language: system
      #   types: [python]
      #   require_serial: true
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
        exclude: ".rst$"
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # insert-license
      - id: insert-license
        name: insert-license
        entry: >-
          pixi run -e lint
          insert-license
          --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIGFuZCBweWRpdmVyc2UgY29udHJpYnV0b3JzIDIwMjUtMjAyNQpTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg==
          --dynamic-years
          --comment-style "#"
        language: system
        types: [python]

Try fix mssql tests (pyodbc was missing)
  .github/workflows/tests.yml
  pixi.lock
  pixi.toml
Due: taplo, check-merge-conflict

Try fix duckdb tests (must not run postgres tests without postgres container)
  .github/workflows/tests.yml
Due: check-merge-conflict

Add output for Test names.
  tests/parallelize/worker.py
Due: check-merge-conflict, insert-license

Make github actions output less verbose.
  .github/workflows/test.yml
  tests/conftest.py
Due: check-merge-conflict, insert-license

DEBUG: Test only one colspec test first.
  .github/workflows/test.yml
  .github/workflows/tests.yml
  tests/parallelize/worker.py
Due: check-merge-conflict, insert-license

DEBUG: activate log test name.
  .github/workflows/test.yml
  tests/conftest.py
Due: check-merge-conflict, insert-license

Remove duckdb to avoid concurrency issues with test_instance_selection.py
  .github/workflows/tests.yml
  tests/test_annotation_integrations/test_colspec.py
Due: check-merge-conflict, insert-license

Make ColSpec tests even more robust.
  .github/workflows/tests.yml
  tests/test_flows/test_flow.py
  tests/test_flows/test_source_invalidation.py
Due: check-merge-conflict, insert-license

Fix IBM DB2 tests and reduce github action verbosity.
  .github/workflows/test.yml
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: check-merge-conflict, insert-license

Fixed sqlalchemy < 2 imports
  src/pydiverse/pipedag/backend/lock/database.py
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/backend/table/sql/reflection.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
Due: check-merge-conflict, insert-license

Prefect 2 needs pydantic < 2.
  pixi.lock
  pixi.toml
Due: taplo, check-merge-conflict

Support prefect 3.
  src/pydiverse/pipedag/engine/prefect.py
Due: check-merge-conflict, insert-license

Fixing sqlalchemy < 2 / pandas < 2 tests.
  tests/test_input_stage_versions.py
  tests/test_table_hooks/test_pandas_hook.py
Due: check-merge-conflict, insert-license

Disallow prefect spinning up an ephemeral server.
  .github/workflows/test.yml
Due: check-merge-conflict

Try whether running a prefect server solves the CI problems.
  .github/workflows/tests.yml
  docker-compose.yaml
Due: check-merge-conflict

Try fix prefect ephemeral problem.
  .github/workflows/test.yml
  .github/workflows/tests.yml
Due: check-merge-conflict

Try fix prefect ephemeral problem.
  .github/workflows/tests.yml
  pixi.lock
  pixi.toml
Due: taplo, check-merge-conflict

Fix polars hook annotation action.
  .github/workflows/tests.yml
  src/pydiverse/pipedag/backend/table/sql/dialects/postgres.py
Due: check-merge-conflict, insert-license

Refactor dataframe table hooks.
  .github/workflows/tests.yml
  docs/source/table_backends.md
  pipedag.yaml
  pixi.lock
  pixi.toml
  src/pydiverse/pipedag/backend/table/cache/parquet.py
  src/pydiverse/pipedag/backend/table/dict.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/dialects/ibm_db2.py
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/dialects/postgres.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
  src/pydiverse/pipedag/materialize/table_hook_base.py
  tests/fixtures/instances.py
  tests/test_cache/test_ignore_cache_function.py
  tests/test_table_hooks/test_pandas_hook.py
  tests/test_table_hooks/test_polars.py
  tests/test_unicode.py
Due: taplo, check-merge-conflict, insert-license

Continued refactoring of dataframe table hooks.
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb.py
  src/pydiverse/pipedag/backend/table/sql/dialects/ibm_db2.py
  src/pydiverse/pipedag/backend/table/sql/dialects/postgres.py
Due: check-merge-conflict, insert-license

Fix remaining test.
  tests/test_table_hooks/test_polars.py
Due: check-merge-conflict, insert-license

Switch polars write_csv from IO[str] to IO[bytes].
  src/pydiverse/pipedag/backend/table/sql/dialects/postgres.py
Due: check-merge-conflict, insert-license

Fix mssql tests.
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  tests/test_table_hooks/test_pandas_hook.py
Due: check-merge-conflict, insert-license

Debug CI.
  .github/workflows/tests.yml
Due: check-merge-conflict

Try fix bcp executable not found problem.
  .github/workflows/test.yml
Due: check-merge-conflict

Fix the bcp test for non-mssql jobs.
  .github/workflows/test.yml
Due: check-merge-conflict

remove one-test
  .github/workflows/tests.yml
Due: check-merge-conflict

use mssqlkit if available before bcpandas for MSSQL bulk upload.
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
Due: check-merge-conflict, insert-license

Implemented dataframely annotation tests
  src/pydiverse/pipedag/backend/table/cache/parquet.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/container/__init__.py
  src/pydiverse/pipedag/util/json.py
  tests/test_annotation_integrations/test_dataframely.py
Due: check-merge-conflict, insert-license

Improved error reporting for hook check failures
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/errors/__init__.py
  src/pydiverse/pipedag/materialize/store.py
  tests/test_annotation_integrations/test_dataframely.py
Due: check-merge-conflict, insert-license

Fixed duckdb_parquet after annotation check improvements
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  tests/test_annotation_integrations/test_dataframely.py
Due: check-merge-conflict, insert-license

ruff format first before checking
  .pre-commit-config.yaml
Due: check-merge-conflict

Fix parquet table cache after annotation check changes.
  pixi.toml
  src/pydiverse/pipedag/backend/table/cache/parquet.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  tests/test_annotation_integrations/test_dataframely.py
Due: taplo, check-merge-conflict, insert-license

Align annotation based tests.
  pixi.lock
  pixi.toml
  tests/test_annotation_integrations/test_colspec.py
  tests/test_annotation_integrations/test_colspec_polars.py
Due: taplo, check-merge-conflict, insert-license

Log capturing is not used via capfd. We chose structlog capture functionality.
  tests/test_annotation_integrations/test_dataframely.py
Due: check-merge-conflict, insert-license

Implemented tests for fallback in polars hook if no dataframely is installed but pydiverse.transform is.
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  tests/test_annotation_integrations/test_colspec.py
  tests/test_annotation_integrations/test_colspec_polars.py
  tests/test_annotation_integrations/test_dataframely.py
Due: check-merge-conflict, insert-license
