Repository pydiverse/pydiverse.pipedag: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-merge-conflict, insert-license

.pre-commit-config.yaml:

exclude: ^.pixi$
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # ruff
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      # - id: mypy
      #   name: mypy
      #   entry: pixi run -e lint mypy
      #   language: system
      #   types: [python]
      #   require_serial: true
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]
        exclude: ^pixi\.toml$  # environments should be one-liners
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
        exclude: ".rst$"
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # insert-license
      - id: insert-license
        name: insert-license
        entry: >-
          pixi run -e lint
          insert-license
          --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIGFuZCBweWRpdmVyc2UgY29udHJpYnV0b3JzIDIwMjUtMjAyNQpTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg==
          --dynamic-years
          --comment-style "#"
        language: system
        types: [python]

Reduced error logs
  tests/test_annotation_integrations/test_colspec_polars.py
Due: check-merge-conflict, insert-license

Disable lock tests for duckdb.
  .github/workflows/tests.yml
Due: check-merge-conflict

Switch from multiprocessing type fork to spawn.
  tests/parallelize/sesson.py
Due: check-merge-conflict, insert-license

Fix pre-commit hooks.
  docs/source/examples/multi_instance_pipeline.md
  docs/source/reference/config.md
  tests/parallelize/plugin.py
  tests/parallelize/session.py
  tests/test_flows/complex_config_flows/pipedag_anchor.yaml
  tests/test_flows/complex_config_flows/pipedag_complex.yaml
Due: check-merge-conflict, insert-license

Fix pre-commit hooks.
  pyproject.toml
Due: taplo, check-merge-conflict

Fix pre-commit hook.
  pyproject.toml
Due: taplo, check-merge-conflict

polars 1.33.1 does not support UPath (S3) in df.write_parquet
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

polars 1.33.1 does not support UPath (S3) in some df.read_parquet calls
  src/pydiverse/pipedag/backend/table/cache/parquet.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

Switch cache miss from warning to info.
  src/pydiverse/pipedag/backend/table/sql/sql.py
  src/pydiverse/pipedag/materialize/store.py
Due: check-merge-conflict, insert-license

Update changelog
  docs/source/changelog.md
Due: check-merge-conflict

Try disabling test_get_output_from_store for ColSpec tests.
  pipedag.yaml
  pytest.ini
  tests/test_lock_manager.py
  tests/test_materializing_task.py
Due: check-merge-conflict, insert-license

Try disabling test_get_output_from_store for ColSpec tests.
  pipedag.yaml
  tests/test_materializing_task.py
Due: check-merge-conflict, insert-license

Fix changelog.md release date.
  docs/source/changelog.md
Due: check-merge-conflict

Cache miss no warning (#288)
  docs/source/changelog.md
  pytest.ini
  src/pydiverse/pipedag/backend/table/sql/sql.py
  src/pydiverse/pipedag/materialize/store.py
  tests/test_lock_manager.py
  tests/test_materializing_task.py
Due: check-merge-conflict, insert-license

Avoid strange error message about sync_views table missing.
  docs/source/changelog.md
  src/pydiverse/pipedag/backend/table/sql/sql.py
Due: check-merge-conflict, insert-license

Fix log level in conftest.py
  tests/conftest.py
Due: check-merge-conflict, insert-license

Update examples in documentation to use new 0.12.0 version.
  docs/source/examples/zip/example.zip
  docs/source/examples/zip/example_ibm_db2.zip
  docs/source/examples/zip/example_imperative.zip
  docs/source/examples/zip/example_mssql.zip
  docs/source/examples/zip/example_parquet_s3.zip
  docs/source/examples/zip/example_postgres.zip
  example/pixi.lock
  example/pixi.toml
  example_ibm_db2/pixi.lock
  example_ibm_db2/pixi.toml
  example_imperative/pixi.lock
  example_imperative/pixi.toml
  example_interactive/pixi.lock
  example_interactive/pixi.toml
  example_mssql/pixi.lock
  example_mssql/pixi.toml
  example_parquet_s3/pipedag.yaml
  example_parquet_s3/pixi.lock
  example_parquet_s3/pixi.toml
  example_postgres/pixi.lock
  example_postgres/pixi.toml
  pixi.toml
Due: taplo, check-merge-conflict

Support duckdb 1.4.1.
  pixi.toml
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb.py
Due: check-merge-conflict, insert-license

Fix pre-commit check of pyproject.toml
  pyproject.toml
Due: taplo, check-merge-conflict

Make table hooks work even without ConfigContext (see example_mssql/download_parquet_files.py)
  docs/source/changelog.md
  docs/source/examples/zip/example.zip
  docs/source/examples/zip/example_ibm_db2.zip
  docs/source/examples/zip/example_imperative.zip
  docs/source/examples/zip/example_mssql.zip
  docs/source/examples/zip/example_parquet_s3.zip
  docs/source/examples/zip/example_postgres.zip
  example/pixi.lock
  example_ibm_db2/pixi.lock
  example_imperative/pixi.lock
  example_mssql/download_parquet_files.py
  example_mssql/pixi.lock
  example_parquet_s3/pixi.lock
  example_postgres/pixi.lock
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
Due: check-merge-conflict, insert-license

Start supporting python 3.14
  .github/workflows/tests.yml
  docs/source/changelog.md
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

Fix pixi release check.
  .github/workflows/release.yml
Due: check-merge-conflict

Fix github action release check.
  .github/workflows/release.yml
Due: check-merge-conflict

Prepare release 0.12.1
  pyproject.toml
Due: taplo, check-merge-conflict

Update examples with 0.12.1
  docs/source/examples/zip/example.zip
  docs/source/examples/zip/example_ibm_db2.zip
  docs/source/examples/zip/example_imperative.zip
  docs/source/examples/zip/example_mssql.zip
  docs/source/examples/zip/example_parquet_s3.zip
  docs/source/examples/zip/example_postgres.zip
  example/pixi.lock
  example_ibm_db2/pixi.lock
  example_imperative/pixi.lock
  example_mssql/pixi.lock
  example_mssql/pixi.toml
  example_parquet_s3/pixi.lock
  example_postgres/pixi.lock
Due: taplo, check-merge-conflict

Update examples with 0.12.1 (#291)
  docs/source/examples/zip/example.zip
  docs/source/examples/zip/example_ibm_db2.zip
  docs/source/examples/zip/example_imperative.zip
  docs/source/examples/zip/example_mssql.zip
  docs/source/examples/zip/example_parquet_s3.zip
  docs/source/examples/zip/example_postgres.zip
  example/pixi.lock
  example_ibm_db2/pixi.lock
  example_imperative/pixi.lock
  example_mssql/pixi.lock
  example_mssql/pixi.toml
  example_parquet_s3/pixi.lock
  example_postgres/pixi.lock
Due: taplo, check-merge-conflict

Support datetime.time and timedelta as task input and output
  docs/source/changelog.md
  src/pydiverse/pipedag/util/json.py
Due: check-merge-conflict, insert-license

Reduce errors in successful tests (#287)
  .github/workflows/tests.yml
  docs/source/changelog.md
  docs/source/reference/api.rst
  src/pydiverse/pipedag/util/json.py
  tests/parallelize/session.py
  tests/test_annotation_integrations/test_colspec_polars.py
Due: check-merge-conflict, insert-license

reactivate snowflake tests
  .github/workflows/tests.yml
Due: check-merge-conflict

reactivate terminal reporter in start_worker
  tests/parallelize/worker.py
Due: check-merge-conflict, insert-license

add snowflake as database instance
  tests/fixtures/instances.py
Due: check-merge-conflict, insert-license

Add error output for snowflake tests
  .github/workflows/tests.yml
Due: check-merge-conflict
