Repository pydiverse/pydiverse.pipedag: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-merge-conflict, insert-license

taplo:
  name: taplo
  entry: pixi run -e lint taplo format
  language: system

check-merge-conflict:
  name: check-merge-conflict
  entry: pixi run -e lint check-merge-conflict --assume-in-merge
  language: system

insert-license:
  name: insert-license
  entry: pixi run -e lint insert-license --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIGFuZCBweWRpdmVyc2UgY29udHJpYnV0b3JzIDIwMjUtMjAyNQpTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg== --dynamic-years --comment-style "#"
  language: system

deps: Update duckdb and sqlalchemy
  pixi.lock
  pixi.toml
Due: check-merge-conflict

fix: Sync pyproject deps and guard duckdb fsspec registration
  pyproject.toml
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: taplo, check-merge-conflict, insert-license

Keep old duckdb version
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

fix
  pixi.toml
  tests/test_cache/test_basic_cache_invalidation.py
Due: check-merge-conflict, insert-license

changelog
  docs/source/changelog.md
Due: check-merge-conflict

Update pixi lockfile
  pixi.lock
  pixi.toml
Due: check-merge-conflict

precommit
  check_base_technologies/google_cloud_storage/_shared.py
  check_base_technologies/google_cloud_storage/duckdb_fsspec_demo.py
  check_base_technologies/google_cloud_storage/duckdb_httpfs_demo.py
  check_base_technologies/google_cloud_storage/fsspec_demo.py
  check_base_technologies/google_cloud_storage/pandas_demo.py
  check_base_technologies/google_cloud_storage/polars_demo.py
  check_base_technologies/google_cloud_storage/pyarrow_demo.py
  check_base_technologies/google_cloud_storage/run_all.py
  example_parquet_s3/jupyter_sql.ipynb
  pyproject.toml
  src/pydiverse/pipedag/__init__.py
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/dialects/ibm_db2.py
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/context/__init__.py
  src/pydiverse/pipedag/context/run_context.py
  src/pydiverse/pipedag/materialize/core.py
  src/pydiverse/pipedag/materialize/materializing_task.py
  src/pydiverse/pipedag/materialize/store.py
  src/pydiverse/pipedag/optional_dependency/colspec.py
  src/pydiverse/pipedag/util/json.py
  tests/fixtures/instances.py
  tests/test_cache/test_basic_cache_invalidation.py
  tests/test_cache/test_ignore_cache_function.py
  tests/test_lock_manager.py
  tests/test_sql_ddl.py
  tests/test_table_hooks/test_sql_table_reference.py
  typos.toml
Due: taplo, check-merge-conflict, insert-license

update again
  pixi.lock
  pixi.toml
Due: check-merge-conflict

Fix MSSQL bulk-insert path broken by setuptools 82
  docs/source/changelog.md
  pixi.lock
  pixi.toml
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: check-merge-conflict, insert-license

add upper bounds
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

fix
  pixi.toml
Due: check-merge-conflict

use python 3.14 in release
  pixi.lock
  pixi.toml
Due: check-merge-conflict

feat: Type the public-facing API
  .pre-commit-config.yaml
  docs/source/changelog.md
  docs/source/examples/multi_instance_pipeline.md
  docs/source/index.md
  docs/source/quickstart.md
  docs/source/reference/api.rst
  docs/source/typing.md
  pixi.lock
  pixi.toml
  pyproject.toml
  src/pydiverse/pipedag/__init__.py
  src/pydiverse/pipedag/_typing.py
  src/pydiverse/pipedag/container/__init__.py
  src/pydiverse/pipedag/core/flow.py
  src/pydiverse/pipedag/core/group_node.py
  src/pydiverse/pipedag/core/result.py
  src/pydiverse/pipedag/core/stage.py
  src/pydiverse/pipedag/core/task.py
  src/pydiverse/pipedag/materialize/core.py
  src/pydiverse/pipedag/materialize/materializing_task.py
  src/pydiverse/pipedag/py.typed
  tests/test_flows/complex_config_flows/test_instance_selection.py
  tests/test_flows/test_simple_flow.py
  tests/test_flows/test_source_invalidation.py
  tests/typing/README.md
  tests/typing/__init__.py
  tests/typing/negative.py
  tests/typing/positive.py
Due: taplo, check-merge-conflict, insert-license

feat: AutoVersionType typing (#348)
  .github/workflows/tests.yml
  docs/source/changelog.md
  pixi.lock
  pixi.toml
  src/pydiverse/pipedag/materialize/core.py
Due: check-merge-conflict, insert-license

Update pixi lockfile
  pixi.lock
Due: check-merge-conflict

wip
  pixi.toml
Due: check-merge-conflict

WIP
  pixi.lock
  pixi.toml
Due: check-merge-conflict

WIP
  pixi.toml
Due: check-merge-conflict

WIPs
  pixi.toml
Due: check-merge-conflict

Adjust and simplify CI for the collapsed pixi environment set
  .github/scripts/check_deps.sh
  .github/workflows/nightly_tests.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  README.md
  pyproject.toml
  src/pydiverse/pipedag/backend/table/sql/dialects/ibm_db2.py
  src/pydiverse/pipedag/optional_dependency/colspec.py
  src/pydiverse/pipedag/util/json.py
Due: taplo, check-merge-conflict, insert-license

Fix empty prediction handling in the instance example pipelines
  example_postgres/realistic_pipeline_sqa_instances.py
  example_postgres/realistic_pipeline_sqa_instances_date.py
Due: check-merge-conflict, insert-license

Mirror the pixi.toml extras in pyproject.toml
  .github/scripts/check_deps.sh
  .github/workflows/tests.yml
  example_postgres/realistic_pipeline_sqa_instances.py
  example_postgres/realistic_pipeline_sqa_instances_date.py
  pyproject.toml
Due: taplo, check-merge-conflict, insert-license

Inline the reusable test workflow
  .github/workflows/test.yml
  .github/workflows/tests.yml
Due: check-merge-conflict

Fix parallel test runner hanging when a worker dies
  tests/parallelize/session.py
Due: check-merge-conflict, insert-license

Use a backend x environment matrix for the test job
  .claude/skills/test-instances/SKILL.md
  .github/workflows/tests.yml
Due: check-merge-conflict

Fix remaining hangs and false aborts in the parallel test runner
  tests/parallelize/session.py
Due: check-merge-conflict, insert-license

enable IBM DB in old
  .github/workflows/tests.yml
  pixi.lock
  pixi.toml
Due: check-merge-conflict

Path conditions:
  taplo: any of: \.toml$ and not (^pixi\.toml$) and not (^.pixi$)
  check-merge-conflict: any of: not (.rst$), but not: ^.pixi$
  insert-license: any of: \.py$, but not: ^.pixi$
