Repository pydiverse/pydiverse.pipedag: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-merge-conflict, insert-license

taplo:
  name: taplo
  entry: pixi run -e lint taplo format
  language: system

check-merge-conflict:
  name: check-merge-conflict
  entry: pixi run -e lint check-merge-conflict --assume-in-merge
  language: system

insert-license:
  name: insert-license
  entry: pixi run -e lint insert-license --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIGFuZCBweWRpdmVyc2UgY29udHJpYnV0b3JzIDIwMjUtMjAyNQpTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg== --dynamic-years --comment-style "#"
  language: system

Feedback
  src/pydiverse/pipedag/materialize/store.py
  src/pydiverse/pipedag/materialize/table_hook_base.py
Due: check-merge-conflict, insert-license

fix: Avoid recursive assumed dependencies
  src/pydiverse/pipedag/materialize/cache.py
  tests/test_materialize.py
Due: check-merge-conflict, insert-license

fix: Hash table name in `lazy_query_str`
  src/pydiverse/pipedag/materialize/store.py
  tests/test_cache/test_basic_cache_invalidation.py
Due: check-merge-conflict, insert-license

changelog
  docs/source/changelog.md
Due: check-merge-conflict

Fix table renaming in lazy=True tasks for 100% cache valid stages.
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
  tests/test_cache/test_basic_cache_invalidation.py
Due: check-merge-conflict, insert-license

Update changelog
  docs/source/changelog.md
Due: check-merge-conflict

test imperative
  tests/test_cache/test_basic_cache_invalidation.py
Due: check-merge-conflict, insert-license

Update docs/source/changelog.md
  docs/source/changelog.md
Due: check-merge-conflict

Feedback
  src/pydiverse/pipedag/materialize/cache.py
Due: check-merge-conflict, insert-license

Fix that view parsing is only done on READ_VIEWS schema.
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

Fix quotes in READ_VIEW parsing.
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

fix: Avoid recursive assumed dependencies (#303)
  docs/source/changelog.md
  src/pydiverse/pipedag/materialize/cache.py
  tests/test_materialize.py
Due: check-merge-conflict, insert-license

Clear table.obj in imperative materialization by default to enable garbage collection during task execution.
  src/pydiverse/pipedag/container/__init__.py
  src/pydiverse/pipedag/materialize/materializing_task.py
  tests/util/tasks_library_imperative.py
Due: check-merge-conflict, insert-license

Allow pyarrow 19
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

Fix parquet backend (S3 tests failed)
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

Fix parquet backend (S3 tests failed)
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
  src/pydiverse/pipedag/container/__init__.py
Due: check-merge-conflict, insert-license

Fix ALIAS renaming for DB2.
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
Due: check-merge-conflict, insert-license

Update src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/ddl.py
Due: check-merge-conflict, insert-license

Fix table renaming in lazy=True tasks for 100% cache valid stages. (#306)
  docs/source/changelog.md
  pixi.toml
  pyproject.toml
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
  src/pydiverse/pipedag/container/__init__.py
  src/pydiverse/pipedag/materialize/cache.py
  src/pydiverse/pipedag/materialize/materializing_task.py
  tests/test_cache/test_basic_cache_invalidation.py
  tests/util/tasks_library_imperative.py
Due: taplo, check-merge-conflict, insert-license

Support lazy output caching also for pydiverse transform with polars backend.
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/materialize/table_hook_base.py
  tests/test_cache/test_basic_cache_invalidation.py
Due: check-merge-conflict, insert-license

prepare release 0.12.6
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

Hash transform dataframes (#308)
  docs/source/changelog.md
  pyproject.toml
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/materialize/table_hook_base.py
  tests/test_cache/test_basic_cache_invalidation.py
Due: taplo, check-merge-conflict, insert-license

be more fault tolerant with parquet name resolution from duckdb views.
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

Try fix screenshots in S3 documentation.
  docs/source/parquet_s3.md
Due: check-merge-conflict

adjust pyproject.toml dependencies
  pyproject.toml
Due: taplo, check-merge-conflict

- Fix: cache invalidation works more reliably for pydiverse.transform and ibis
  docs/source/changelog.md
  pyproject.toml
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: taplo, check-merge-conflict, insert-license

Fixed ibis tests.
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: check-merge-conflict, insert-license

fix tests
  tests/test_cache/test_basic_cache_invalidation.py
  tests/test_flows/test_mutable_task_inputs.py
Due: check-merge-conflict, insert-license

Fixed #315 and implemented #316
  docs/source/changelog.md
  src/pydiverse/pipedag/__init__.py
  src/pydiverse/pipedag/container/__init__.py
  src/pydiverse/pipedag/context/__init__.py
  src/pydiverse/pipedag/materialize/store.py
  tests/test_materialize.py
  tests/test_table_hooks/test_sql_table_reference.py
Due: check-merge-conflict, insert-license

Make DEBUG logging less expensive.
  docs/source/changelog.md
  src/pydiverse/pipedag/context/context.py
Due: check-merge-conflict, insert-license

Fix the #315 fix. Interactive debugging code was broken.
  src/pydiverse/pipedag/container/__init__.py
Due: check-merge-conflict, insert-license

Path conditions:
  taplo: any of: \.toml$ and not (^pixi\.toml$) and not (^.pixi$)
  check-merge-conflict: any of: not (.rst$), but not: ^.pixi$
  insert-license: any of: \.py$, but not: ^.pixi$
