Repository pydiverse/pydiverse.pipedag: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-merge-conflict, insert-license

taplo:
  name: taplo
  entry: pixi run -e lint taplo format
  language: system

check-merge-conflict:
  name: check-merge-conflict
  entry: pixi run -e lint check-merge-conflict --assume-in-merge
  language: system

insert-license:
  name: insert-license
  entry: pixi run -e lint insert-license --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIGFuZCBweWRpdmVyc2UgY29udHJpYnV0b3JzIDIwMjUtMjAyNQpTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg== --dynamic-years --comment-style "#"
  language: system

update ruff to version 3.11
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/container/__init__.py
  src/pydiverse/pipedag/core/config.py
  tests/test_cache/test_basic_cache_invalidation.py
  tests/test_json.py
Due: check-merge-conflict, insert-license

Fix bug with pandas retrieval of view which renames columns.
  docs/source/changelog.md
  pyproject.toml
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: taplo, check-merge-conflict, insert-license

Support dataframely >= 2.1.
  tests/test_annotation_integrations/test_colspec.py
  tests/test_annotation_integrations/test_colspec_polars.py
  tests/test_annotation_integrations/test_dataframely.py
Due: check-merge-conflict, insert-license

Fixed optional import
  tests/test_annotation_integrations/test_colspec_polars.py
Due: check-merge-conflict, insert-license

Fix mssql bug with inconsistent zip lengths.
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
Due: check-merge-conflict, insert-license

Updated changelog
  docs/source/changelog.md
Due: check-merge-conflict

updated changelog
  docs/source/changelog.md
Due: check-merge-conflict

Updated examples and zipped for documentation.
  docs/source/examples/zip/example.zip
  docs/source/examples/zip/example_ibm_db2.zip
  docs/source/examples/zip/example_imperative.zip
  docs/source/examples/zip/example_mssql.zip
  example/pixi.lock
  example_ibm_db2/pixi.lock
  example_ibm_db2/pixi.toml
  example_imperative/pixi.lock
  example_mssql/pixi.lock
  example_mssql/pixi.toml
  example_parquet_s3/pixi.toml
  example_postgres/pixi.toml
  example_snowflake/pixi.toml
Due: taplo, check-merge-conflict

Updated examples and zipped for documentation.
  docs/source/examples/zip/example_parquet_s3.zip
  docs/source/examples/zip/example_postgres.zip
  docs/source/examples/zip/example_snowflake.zip
  example_parquet_s3/pixi.lock
  example_postgres/pixi.lock
  example_snowflake/pixi.lock
Due: check-merge-conflict

Updated examples and zipped for documentation.
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/dialects/snowflake.py
  tests/test_table_hooks/test_sql_table_reference.py
Due: check-merge-conflict, insert-license

Updated changelog.md
  docs/source/changelog.md
Due: check-merge-conflict

Early attempt of implementing five core pipeline instance: full_fresh, mini_frash, full, midi, mini
  example_postgres/pipedag_with_instances.yaml
  example_postgres/realistic_pipeline_sqa_instances.py
  src/pydiverse/pipedag/backend/table/cache/parquet.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: check-merge-conflict, insert-license

Fix introduced DB2 bug.
  src/pydiverse/pipedag/backend/table/sql/ddl.py
Due: check-merge-conflict, insert-license

Implemented test with 5 pipeline instances and bootstrap.
  example_postgres/realistic_pipeline_sqa_instances.py
  src/pydiverse/pipedag/materialize/store.py
Due: check-merge-conflict, insert-license

Implemented fresh side-channel input to a stable instance.
  example_postgres/realistic_pipeline_sqa_instances.py
  src/pydiverse/pipedag/materialize/core.py
  src/pydiverse/pipedag/materialize/materializing_task.py
  src/pydiverse/pipedag/materialize/store.py
Due: check-merge-conflict, insert-license

Fix ASSERT_NO_FRESH_INPUT tests
  src/pydiverse/pipedag/materialize/materializing_task.py
Due: check-merge-conflict, insert-license

Fix DB2 tests
  src/pydiverse/pipedag/backend/table/sql/ddl.py
Due: check-merge-conflict, insert-license

Update changelog.md
  docs/source/changelog.md
Due: check-merge-conflict

Fix snowflake tests
  tests/test_table_hooks/test_sql_table_reference.py
Due: check-merge-conflict, insert-license

Fix mssql tests
  src/pydiverse/pipedag/backend/table/sql/ddl.py
Due: check-merge-conflict, insert-license

Snowflake workaround and instance examples (#301)
  docs/source/changelog.md
  example_postgres/pipedag_with_instances.yaml
  example_postgres/realistic_pipeline_sqa_instances.py
  src/pydiverse/pipedag/backend/table/cache/parquet.py
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/dialects/snowflake.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/materialize/core.py
  src/pydiverse/pipedag/materialize/materializing_task.py
  src/pydiverse/pipedag/materialize/store.py
  tests/test_table_hooks/test_sql_table_reference.py
Due: check-merge-conflict, insert-license

Updated documentation with real world instance example.
  docs/source/examples/best_practices_instances.md
Due: check-merge-conflict

Prepare release 0.12.5.
  docs/source/examples/zip/example.zip
  docs/source/examples/zip/example_ibm_db2.zip
  docs/source/examples/zip/example_imperative.zip
  docs/source/examples/zip/example_mssql.zip
  docs/source/examples/zip/example_parquet_s3.zip
  docs/source/examples/zip/example_postgres.zip
  docs/source/examples/zip/example_snowflake.zip
  example/pixi.lock
  example_ibm_db2/pixi.lock
  example_imperative/pixi.lock
  example_mssql/pixi.lock
  example_parquet_s3/pixi.lock
  example_postgres/pixi.lock
  example_postgres/realistic_pipeline_sqa_instances.py
  example_snowflake/pixi.lock
  pyproject.toml
Due: taplo, check-merge-conflict, insert-license

Pin some examples to 0.12.5 which need the features.
  docs/source/examples/zip/example.zip
  docs/source/examples/zip/example_ibm_db2.zip
  docs/source/examples/zip/example_imperative.zip
  docs/source/examples/zip/example_mssql.zip
  docs/source/examples/zip/example_parquet_s3.zip
  docs/source/examples/zip/example_postgres.zip
  docs/source/examples/zip/example_snowflake.zip
  example/pixi.lock
  example_ibm_db2/pixi.lock
  example_imperative/pixi.lock
  example_mssql/pixi.lock
  example_parquet_s3/pixi.lock
  example_postgres/pixi.lock
  example_postgres/pixi.toml
  example_snowflake/pixi.lock
  example_snowflake/pixi.toml
Due: taplo, check-merge-conflict

Update tests and docs for pandas
  docs/source/changelog.md
  docs/source/examples/realistic_pipeline.md
  docs/source/quickstart.md
  src/pydiverse/pipedag/materialize/core.py
  tests/test_cache/test_basic_cache_invalidation.py
Due: check-merge-conflict, insert-license

Updated instance examples.
  docs/source/examples/best_practices_instances.md
  docs/source/examples/zip/example.zip
  docs/source/examples/zip/example_ibm_db2.zip
  docs/source/examples/zip/example_imperative.zip
  docs/source/examples/zip/example_mssql.zip
  docs/source/examples/zip/example_parquet_s3.zip
  docs/source/examples/zip/example_postgres.zip
  docs/source/examples/zip/example_snowflake.zip
  example/pixi.lock
  example_ibm_db2/pixi.lock
  example_imperative/pixi.lock
  example_mssql/pixi.lock
  example_mssql/realistic_pipeline.py
  example_parquet_s3/pixi.lock
  example_parquet_s3/realistic_pipeline.py
  example_postgres/pipedag_with_instances_date.yaml
  example_postgres/pixi.lock
  example_postgres/realistic_pipeline.py
  example_postgres/realistic_pipeline_sqa.py
  example_postgres/realistic_pipeline_sqa_instances_date.py
  example_snowflake/pixi.lock
  example_snowflake/realistic_pipeline.py
  tests/test_flows/test_example.py
Due: check-merge-conflict, insert-license

error handling
  src/pydiverse/pipedag/errors/__init__.py
  src/pydiverse/pipedag/materialize/store.py
  src/pydiverse/pipedag/materialize/table_hook_base.py
  tests/test_cache/test_basic_cache_invalidation.py
Due: check-merge-conflict, insert-license

update pyproject.toml
  pyproject.toml
Due: taplo, check-merge-conflict

Refactor PandasTableHook for parquet backend
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

try one worker
  .github/workflows/test.yml
Due: check-merge-conflict

fix test
  tests/test_cache/test_basic_cache_invalidation.py
Due: check-merge-conflict, insert-license

Reset number of workers to 4
  .github/workflows/test.yml
Due: check-merge-conflict

Apply suggestions from code review
  docs/source/examples/realistic_pipeline.md
Due: check-merge-conflict

Feedback
  src/pydiverse/pipedag/materialize/store.py
Due: check-merge-conflict, insert-license

Path conditions:
  taplo: any of: \.toml$ and not (^pixi\.toml$) and not (^.pixi$)
  check-merge-conflict: any of: not (.rst$), but not: ^.pixi$
  insert-license: any of: \.py$, but not: ^.pixi$
