Repository pydiverse/pydiverse.pipedag: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-merge-conflict, insert-license

.pre-commit-config.yaml:

exclude: ^.pixi$
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # ruff
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      # - id: mypy
      #   name: mypy
      #   entry: pixi run -e lint mypy
      #   language: system
      #   types: [python]
      #   require_serial: true
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]
        exclude: ^pixi\.toml$  # environments should be one-liners
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
        exclude: ".rst$"
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # insert-license
      - id: insert-license
        name: insert-license
        entry: >-
          pixi run -e lint
          insert-license
          --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIGFuZCBweWRpdmVyc2UgY29udHJpYnV0b3JzIDIwMjUtMjAyNQpTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg==
          --dynamic-years
          --comment-style "#"
        language: system
        types: [python]

Resolve race condition for test_example.py tests
  example_parquet_s3/run_pipeline.py
Due: check-merge-conflict, insert-license

Fix mssqlkit integration
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: check-merge-conflict, insert-license

Fix mssqlkit integration
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
Due: check-merge-conflict, insert-license

Update changelog
  docs/source/changelog.md
Due: check-merge-conflict

Speed up pandas/polars transfer to/from duckdb in SqlTableStore
  docs/source/changelog.md
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb.py
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/util/arrow.py
  tests/test_table_hooks/test_polars.py
Due: check-merge-conflict, insert-license

Fix duckdb->arrow->pandas conversion for datetime columns.
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb.py
  src/pydiverse/pipedag/util/arrow.py
Due: check-merge-conflict, insert-license

Fix for duckdb < 1.4
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb.py
Due: check-merge-conflict, insert-license

Prepare release 0.12.11
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

Fix mssqlkit integration (#327)
  docs/source/changelog.md
  pyproject.toml
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb.py
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/util/arrow.py
  tests/test_table_hooks/test_polars.py
Due: taplo, check-merge-conflict, insert-license

Update examples to 0.12.11
  docs/source/examples/zip/example.zip
  docs/source/examples/zip/example_ibm_db2.zip
  docs/source/examples/zip/example_imperative.zip
  docs/source/examples/zip/example_mssql.zip
  docs/source/examples/zip/example_parquet_s3.zip
  docs/source/examples/zip/example_postgres.zip
  docs/source/examples/zip/example_snowflake.zip
  example/pixi.lock
  example/pixi.toml
  example_ibm_db2/pixi.lock
  example_ibm_db2/pixi.toml
  example_imperative/pixi.lock
  example_imperative/pixi.toml
  example_interactive/pixi.toml
  example_mssql/pixi.lock
  example_mssql/pixi.toml
  example_parquet_s3/init_jupyter_sql.py
  example_parquet_s3/pixi.lock
  example_parquet_s3/pixi.toml
  example_postgres/pixi.lock
  example_postgres/pixi.toml
  example_snowflake/pixi.lock
  example_snowflake/pixi.toml
Due: taplo, check-merge-conflict, insert-license

docs: Add sync_metadata to API reference
  docs/source/reference/api.rst
Due: none

Apply suggestion from @pavelzw
  .github/workflows/test.yml
Due: check-merge-conflict

Fix Polars dataframe upload fallback to preserve dtypes
  docs/source/changelog.md
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  tests/test_table_hooks/test_polars.py
Due: check-merge-conflict, insert-license

Add TruncateTable DDL primitive and use it in upload fallbacks
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  tests/test_sql_ddl.py
Due: check-merge-conflict, insert-license

Unify pandas and polars upload fallback tests into single parametrized test
  docs/source/changelog.md
  tests/test_table_hooks/test_pandas_hook.py
  tests/test_table_hooks/test_polars.py
Due: check-merge-conflict, insert-license

Convert `pyarrow_path` to string in `PandasTableHook`
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

fix: Don't crash if swap prod -> transaction schema fails
  src/pydiverse/pipedag/backend/table/sql/sql.py
  tests/test_raw_sql/test_raw_sql_cached_view_invalid.py
Due: check-merge-conflict, insert-license

changelog
  docs/source/changelog.md
Due: check-merge-conflict

docs: Add sync_metadata to API reference (#328)
  docs/source/reference/api.rst
Due: none

remove unnecessary comment
  tests/test_raw_sql/test_raw_sql_cached_view_invalid.py
Due: check-merge-conflict, insert-license

remove global variable
  tests/test_raw_sql/test_raw_sql_cached_view_invalid.py
Due: check-merge-conflict, insert-license

Fix broken view handling (#334)
  docs/source/changelog.md
  src/pydiverse/pipedag/backend/table/sql/sql.py
  tests/test_raw_sql/test_raw_sql_cached_view_invalid.py
Due: check-merge-conflict, insert-license

Fix Polars dataframe upload fallback to preserve dtypes (#332)
  docs/source/changelog.md
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  tests/test_sql_ddl.py
  tests/test_table_hooks/test_pandas_hook.py
  tests/test_table_hooks/test_polars.py
Due: check-merge-conflict, insert-license

Fix S3 late authentication config issue.
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

Remove PIXI_ENVS_COMPARISON.md
  check_base_technologies/google_cloud_storage/PIXI_ENVS_COMPARISON.md
Due: check-merge-conflict

Fix logging and types
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

Add logging for polars GCS fallback
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

Fix MSSQL CI: run apt-get update before installing ODBC driver
  .github/workflows/test.yml
Due: check-merge-conflict

Codex/claude: caching schema reflectionf or snowflake
  src/pydiverse/pipedag/backend/table/sql/dialects/snowflake.py
  src/pydiverse/pipedag/context/__init__.py
  tests/test_sql_dialect/test_snowflake.py
Due: check-merge-conflict, insert-license

temporary commit of AI support files
  .codex/environments/environment.toml
  SNOWFLAKE_REFLECTION_CACHE_PLAN.md
Due: taplo, check-merge-conflict

Try fix issue #339.
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

Initial setup of agent files in the repo.
  .claude/skills/parquet-backend-metastore/SKILL.md
  .claude/skills/schema-swapping/SKILL.md
  .claude/skills/table-hooks/SKILL.md
  .claude/skills/test-instances/SKILL.md
  AGENTS.md
  CLAUDE.md
Due: check-merge-conflict

Prepare release 0.12.13
  docs/source/changelog.md
Due: check-merge-conflict

Update examples
  .gitignore
  AGENTS.md
  docs/source/examples/zip/example.zip
  docs/source/examples/zip/example_ibm_db2.zip
  docs/source/examples/zip/example_imperative.zip
  docs/source/examples/zip/example_mssql.zip
  docs/source/examples/zip/example_parquet_s3.zip
  docs/source/examples/zip/example_postgres.zip
  docs/source/examples/zip/example_snowflake.zip
  example/pixi.lock
  example_ibm_db2/pixi.lock
  example_imperative/pixi.lock
  example_mssql/pixi.lock
  example_parquet_s3/pixi.lock
  example_parquet_s3/pixi.toml
  example_postgres/pixi.lock
  example_snowflake/pixi.lock
Due: taplo, check-merge-conflict

Add exclude-newer
  pixi.toml
Due: check-merge-conflict

chore: Make CLAUDE.md a symlink to AGENTS.md
  CLAUDE.md
Due: check-merge-conflict
