Repository pydiverse/pydiverse.pipedag: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-merge-conflict, insert-license

.pre-commit-config.yaml:

exclude: ^.pixi$
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # ruff
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      # - id: mypy
      #   name: mypy
      #   entry: pixi run -e lint mypy
      #   language: system
      #   types: [python]
      #   require_serial: true
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]
        exclude: ^pixi\.toml$  # environments should be one-liners
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
        exclude: ".rst$"
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # insert-license
      - id: insert-license
        name: insert-license
        entry: >-
          pixi run -e lint
          insert-license
          --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIGFuZCBweWRpdmVyc2UgY29udHJpYnV0b3JzIDIwMjUtMjAyNQpTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg==
          --dynamic-years
          --comment-style "#"
        language: system
        types: [python]

More verbose error output for snowflake tests.
  .github/workflows/tests.yml
Due: check-merge-conflict

Fix ADBC for snowflake
  pipedag.yaml
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: check-merge-conflict, insert-license

Fix dependency check
  .github/scripts/check_deps.sh
Due: check-merge-conflict

Improved snowflake speed by using keep-alive connection.
  src/pydiverse/pipedag/backend/table/sql/dialects/snowflake.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
  tests/test_annotation_integrations/test_colspec_polars.py
Due: check-merge-conflict, insert-license

Made CI output less verbose for snowflake again.
  .github/workflows/tests.yml
  tests/test_annotation_integrations/test_colspec_polars.py
Due: check-merge-conflict, insert-license

Separate snowflake database per environment
  .github/workflows/test.yml
  .github/workflows/tests.yml
  pipedag.yaml
  src/pydiverse/pipedag/backend/table/sql/dialects/snowflake.py
Due: check-merge-conflict, insert-license

Significantly reduce snowflake tests (too slow).
  .github/workflows/tests.yml
  tests/fixtures/instances.py
  tests/test_annotation_integrations/test_colspec_polars.py
  tests/test_annotation_integrations/test_dataframely.py
  tests/test_flows/test_simple_flow.py
Due: check-merge-conflict, insert-license

Disable large parts of snowflake tests for timeout reasons
  src/pydiverse/pipedag/backend/table/sql/dialects/snowflake.py
  tests/test_annotation_integrations/test_colspec.py
  tests/test_annotation_integrations/test_colspec_polars.py
  tests/test_annotation_integrations/test_dataframely.py
  tests/test_indexes.py
  tests/test_materialize.py
  tests/test_table_hooks/test_pandas_hook.py
  tests/test_table_hooks/test_polars.py
Due: check-merge-conflict, insert-license

Fixed some snowflake tests.
  .github/workflows/tests.yml
  src/pydiverse/pipedag/backend/table/sql/dialects/snowflake.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  tests/test_annotation_integrations/test_colspec_polars.py
  tests/test_annotation_integrations/test_dataframely.py
  tests/test_input_stage_versions.py
  tests/test_materialize.py
  tests/test_table_hooks/test_pandas_hook.py
  tests/test_unicode.py
Due: check-merge-conflict, insert-license

Speedup snowflake tests 3min.
  tests/test_table_hooks/test_polars.py
Due: check-merge-conflict, insert-license

Speedup snowflake tests 3min.
  tests/test_lock_manager.py
Due: check-merge-conflict, insert-license

Disable test_filelock and test_nolock since they seem to break CI.
  tests/test_lock_manager.py
Due: check-merge-conflict, insert-license

Activate debug output for snowflake tests.
  .github/workflows/tests.yml
Due: check-merge-conflict

Fix postgres noadbc tests.
  src/pydiverse/pipedag/optional_dependency/adbc.py
  tests/test_annotation_integrations/test_colspec.py
Due: check-merge-conflict, insert-license

Apply suggestions from code review
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/tests.yml
  .github/workflows/update-lockfiles.yml
Due: check-merge-conflict

snowflake currently is not supported by transform and colspec (problems could be solveable) Polars does not retrieve smallint as i16 with read_database.
  .github/workflows/tests.yml
  tests/test_annotation_integrations/test_colspec.py
Due: check-merge-conflict, insert-license

Fix import that only works for sqlalchemy >= 2.
  src/pydiverse/pipedag/backend/table/sql/dialects/snowflake.py
Due: check-merge-conflict, insert-license

determine how long snowflake tests run in CI. On Laptop it is way below 40min.
  .github/workflows/tests.yml
  docs/source/changelog.md
Due: check-merge-conflict

Reduce snowflake timeout again.
  .github/workflows/tests.yml
Due: check-merge-conflict

reactivate multiple snowflake tests
  .github/workflows/tests.yml
Due: check-merge-conflict

temporarily increase runtime limit for snowflake tests
  .github/workflows/tests.yml
Due: check-merge-conflict

Disable test_zookeeper(lock test) since it seems to break CI.
  tests/test_lock_manager.py
Due: check-merge-conflict, insert-license

prepare release 0.12.2
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

Fix problems with filelock 3.11 by disabling thread_local feature.
  docs/source/changelog.md
  pixi.toml
  src/pydiverse/pipedag/backend/lock/filelock.py
Due: check-merge-conflict, insert-license

Added snowflake example.
  example_postgres/realistic_pipeline_sqa.py
  example_snowflake/.gitattributes
  example_snowflake/.gitignore
  example_snowflake/data/pipedag_example_data/a.csv.gz
  example_snowflake/data/pipedag_example_data/b.csv.gz
  example_snowflake/data/pipedag_example_data/c.csv.gz
  example_snowflake/pipedag.yaml
  example_snowflake/pixi.lock
  example_snowflake/pixi.toml
  example_snowflake/realistic_pipeline.py
  example_snowflake/run_pipeline.py
  example_snowflake/run_pipeline_small.py
Due: taplo, check-merge-conflict, insert-license

Support filelock >=3.11 (#297)
  docs/source/changelog.md
  example_postgres/realistic_pipeline_sqa.py
  example_snowflake/.gitattributes
  example_snowflake/.gitignore
  example_snowflake/data/pipedag_example_data/a.csv.gz
  example_snowflake/data/pipedag_example_data/b.csv.gz
  example_snowflake/data/pipedag_example_data/c.csv.gz
  example_snowflake/pipedag.yaml
  example_snowflake/pixi.lock
  example_snowflake/pixi.toml
  example_snowflake/realistic_pipeline.py
  example_snowflake/run_pipeline.py
  example_snowflake/run_pipeline_small.py
  pixi.toml
  src/pydiverse/pipedag/backend/lock/filelock.py
Due: taplo, check-merge-conflict, insert-license

prepare release 0.12.3
  pyproject.toml
Due: taplo, check-merge-conflict

Updated example to link to released version 0.12.3.
  example_snowflake/pixi.lock
  example_snowflake/pixi.toml
Due: taplo, check-merge-conflict

Update examples and documentation.
  docs/source/examples/group_and_visualize.md
  docs/source/examples/imperative_materialization.md
  docs/source/examples/simple_pipeline.md
  docs/source/examples/stage_validation.md
  docs/source/examples/zip/example.zip
  docs/source/examples/zip/example_ibm_db2.zip
  docs/source/examples/zip/example_imperative.zip
  docs/source/examples/zip/example_mssql.zip
  docs/source/examples/zip/example_parquet_s3.zip
  docs/source/examples/zip/example_postgres.zip
  docs/source/examples/zip/example_snowflake.zip
  docs/source/table_backends.md
  example/pixi.lock
  example_ibm_db2/pixi.lock
  example_imperative/pixi.lock
  example_mssql/pixi.lock
  example_parquet_s3/pixi.lock
  example_postgres/pixi.lock
  example_snowflake/pixi.lock
Due: check-merge-conflict

Fixed realistic sqlalchemy examples.
  docs/source/examples/zip/example.zip
  docs/source/examples/zip/example_ibm_db2.zip
  docs/source/examples/zip/example_imperative.zip
  docs/source/examples/zip/example_mssql.zip
  docs/source/examples/zip/example_parquet_s3.zip
  docs/source/examples/zip/example_postgres.zip
  docs/source/examples/zip/example_snowflake.zip
  example/pixi.lock
  example_ibm_db2/pixi.lock
  example_imperative/pixi.lock
  example_mssql/pixi.lock
  example_parquet_s3/pixi.lock
  example_postgres/pixi.lock
  example_postgres/realistic_pipeline_sqa.py
  example_snowflake/pixi.lock
  example_snowflake/realistic_pipeline.py
Due: check-merge-conflict, insert-license

Pinned last github action.
  .github/workflows/update-lockfiles.yml
Due: check-merge-conflict

Try improve reliability of smoke test.
  tests/test_dask.py
Due: check-merge-conflict, insert-license

pin last github action
  .github/workflows/nightly_tests.yml
Due: check-merge-conflict

homogenize python requirement
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

update ruff to version 3.11
  pyproject.toml
  src/pydiverse/pipedag/_typing.py
  src/pydiverse/pipedag/backend/lock/base.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/core/result.py
  src/pydiverse/pipedag/core/task.py
  src/pydiverse/pipedag/materialize/materializing_task.py
  src/pydiverse/pipedag/materialize/store.py
  src/pydiverse/pipedag/materialize/table_hook_base.py
  tests/test_annotation_integrations/test_dataframely.py
  tests/test_lock_manager.py
Due: taplo, check-merge-conflict, insert-license
