Repository pydiverse/pydiverse.pipedag: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-merge-conflict, insert-license

.pre-commit-config.yaml:

exclude: ^.pixi$
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # ruff
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      # - id: mypy
      #   name: mypy
      #   entry: pixi run -e lint mypy
      #   language: system
      #   types: [python]
      #   require_serial: true
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]
        exclude: ^pixi\.toml$  # environments should be one-liners
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
        exclude: ".rst$"
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # insert-license
      - id: insert-license
        name: insert-license
        entry: >-
          pixi run -e lint
          insert-license
          --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIGFuZCBweWRpdmVyc2UgY29udHJpYnV0b3JzIDIwMjUtMjAyNQpTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg==
          --dynamic-years
          --comment-style "#"
        language: system
        types: [python]

fix type annotation for SQLAlchemy 1.x
  docs/source/changelog.md
  pyproject.toml
  tests/test_materialize.py
Due: taplo, check-merge-conflict, insert-license

fix Sqlalchemy 1.x import workaround
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

docs: Add step-by-step explanation of flow execution
  docs/source/examples/simple_pipeline.md
Due: check-merge-conflict

Fixed #315 and implemented #316 (#317)
  docs/source/changelog.md
  pyproject.toml
  src/pydiverse/pipedag/__init__.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/container/__init__.py
  src/pydiverse/pipedag/context/__init__.py
  src/pydiverse/pipedag/context/context.py
  src/pydiverse/pipedag/materialize/store.py
  tests/test_materialize.py
  tests/test_table_hooks/test_sql_table_reference.py
Due: taplo, check-merge-conflict, insert-license

fix metadata_store table access
  src/pydiverse/pipedag/backend/table/sql/sql.py
Due: check-merge-conflict, insert-license

fix metadata_store table access for S3
  src/pydiverse/pipedag/backend/table/sql/sql.py
Due: check-merge-conflict, insert-license

Fix release date.
  docs/source/changelog.md
Due: check-merge-conflict

Update docs/source/examples/simple_pipeline.md
  docs/source/examples/simple_pipeline.md
Due: check-merge-conflict

docs: Add step-by-step explanation of flow execution (#319)
  docs/source/examples/simple_pipeline.md
Due: check-merge-conflict

try avoid_drop_create_schema on metadata DB2 store
  pipedag.yaml
Due: check-merge-conflict

Fix: correct schema for DatabaseLockManager
  src/pydiverse/pipedag/backend/table/sql/sql.py
Due: check-merge-conflict, insert-license

Update changelog.md
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

try avoid_drop_create_schema on metadata DB2 store (#321)
  docs/source/changelog.md
  pipedag.yaml
  pyproject.toml
  src/pydiverse/pipedag/backend/table/sql/sql.py
Due: taplo, check-merge-conflict, insert-license

Fixed release date
  docs/source/changelog.md
Due: check-merge-conflict

tiny tying fix (polymorphism)
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

ensure the schema is created before the view in duckdb file
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

update changelog
  docs/source/changelog.md
Due: check-merge-conflict

reenable duckdb pandas tests.
  tests/test_table_hooks/test_pandas_hook.py
Due: check-merge-conflict, insert-license

expand tests of parquet_s3_backend_db2 instance
  tests/test_lock_manager.py
  tests/test_materializing_task.py
Due: check-merge-conflict, insert-license

Add sync_metadata() method to ParquetTableStore
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  tests/test_materializing_task.py
Due: check-merge-conflict, insert-license

changelog
  docs/source/changelog.md
Due: check-merge-conflict

Update src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

Fix stage ordering and log message
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

This code should somehow be integrated.
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

feat: Sync metadata utility func (#324)
  docs/source/changelog.md
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  tests/test_materializing_task.py
Due: check-merge-conflict, insert-license

Improve ParquetTableStore.sync_metadata
  docs/source/changelog.md
  docs/source/parquet_s3.md
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  tests/test_lock_manager.py
  tests/test_materializing_task.py
Due: check-merge-conflict, insert-license

Fix race condition in test_sync_metadata()
  tests/test_materializing_task.py
Due: check-merge-conflict, insert-license

remove raw-SQL tasks from ParquetTableStore with metadata_store
  tests/test_cache/test_ignore_cache_function.py
Due: check-merge-conflict, insert-license

Introduce quoting of schema and view name for metadata sync.
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

Improve ParquetTableStore.sync_metadata (#325)
  docs/source/changelog.md
  docs/source/parquet_s3.md
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  tests/test_cache/test_ignore_cache_function.py
  tests/test_lock_manager.py
  tests/test_materializing_task.py
Due: check-merge-conflict, insert-license

Prepare release 0.12.10
  pyproject.toml
Due: taplo, check-merge-conflict

Demo interactive polars
  docs/source/changelog.md
  example_parquet_s3/init_jupyter_sql.py
  example_parquet_s3/jupyter_sql.ipynb
  example_parquet_s3/run_pipeline.py
  src/pydiverse/pipedag/container/__init__.py
  src/pydiverse/pipedag/context/run_context.py
  src/pydiverse/pipedag/materialize/core.py
  src/pydiverse/pipedag/materialize/materializing_task.py
Due: check-merge-conflict, insert-license

Fix pre-commit check
  pyproject.toml
Due: taplo, check-merge-conflict

Updated authors.
  pyproject.toml
Due: taplo, check-merge-conflict

Resolve race condition for test_example.py tests
  example_parquet_s3/run_pipeline.py
Due: check-merge-conflict, insert-license
