Repository pydiverse/pydiverse.pipedag: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-merge-conflict, insert-license

.pre-commit-config.yaml:

exclude: ^.pixi$
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # ruff
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      # - id: mypy
      #   name: mypy
      #   entry: pixi run -e lint mypy
      #   language: system
      #   types: [python]
      #   require_serial: true
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]
        exclude: ^pixi\.toml$  # environments should be one-liners
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
        exclude: ".rst$"
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # insert-license
      - id: insert-license
        name: insert-license
        entry: >-
          pixi run -e lint
          insert-license
          --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIGFuZCBweWRpdmVyc2UgY29udHJpYnV0b3JzIDIwMjUtMjAyNQpTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg==
          --dynamic-years
          --comment-style "#"
        language: system
        types: [python]

Also timeout test_zookeeper.
  src/pydiverse/pipedag/util/timing.py
  tests/test_lock_manager.py
Due: check-merge-conflict, insert-license

Change visualize_url to raise exception
  src/pydiverse/pipedag/core/flow.py
Due: check-merge-conflict, insert-license

Fix test_flow_visualize_url
  tests/test_core.py
Due: check-merge-conflict, insert-license

Fix pyproject.toml for optional postgres dependency
  pyproject.toml
Due: taplo, check-merge-conflict

update changelog.md release date
  docs/source/changelog.md
Due: check-merge-conflict

upgrade pypi dependencies
  pyproject.toml
Due: taplo, check-merge-conflict

fix readme link
  README.md
Due: check-merge-conflict

Improving README.md
  README.md
Due: check-merge-conflict

Improved quickstart.md
  docs/source/quickstart.md
Due: check-merge-conflict

Try fixing occasional deadlock of test_no_lock
  tests/test_lock_manager.py
Due: check-merge-conflict, insert-license

fix: Fix mssqlkit bulk upload
  docs/source/changelog.md
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
Due: check-merge-conflict, insert-license

fix: Fix mssqlkit bulk upload (#257)
  docs/source/changelog.md
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
Due: check-merge-conflict, insert-license

Improve database_testing.md
  docs/source/database_testing.md
Due: check-merge-conflict

Added pixi.toml to example directories.
  README.md
  docs/source/changelog.md
  example/.gitattributes
  example/.gitignore
  example/pixi.lock
  example/pixi.toml
  example_imperative/.gitattributes
  example_imperative/.gitignore
  example_imperative/pixi.lock
  example_imperative/pixi.toml
  example_interactive/.gitattributes
  example_interactive/.gitignore
  example_interactive/pixi.lock
  example_interactive/pixi.toml
  example_postgres/.gitattributes
  example_postgres/.gitignore
  example_postgres/pixi.lock
  example_postgres/pixi.toml
Due: taplo, check-merge-conflict

Fixed and tested example zip files.
  docs/source/examples/multi_instance_pipeline.md
  docs/source/examples/multi_instance_pipeline.zip
  docs/source/examples/raw_sql.md
  docs/source/examples/raw_sql.zip
  docs/source/examples/realistic_pipeline.md
  docs/source/examples/realistic_pipeline.zip
Due: check-merge-conflict

Added pixi.toml to example directories. (#258)
  README.md
  docs/source/changelog.md
  docs/source/examples/multi_instance_pipeline.md
  docs/source/examples/multi_instance_pipeline.zip
  docs/source/examples/raw_sql.md
  docs/source/examples/raw_sql.zip
  docs/source/examples/realistic_pipeline.md
  docs/source/examples/realistic_pipeline.zip
  example/.gitattributes
  example/.gitignore
  example/pixi.lock
  example/pixi.toml
  example_imperative/.gitattributes
  example_imperative/.gitignore
  example_imperative/pixi.lock
  example_imperative/pixi.toml
  example_interactive/.gitattributes
  example_interactive/.gitignore
  example_interactive/pixi.lock
  example_interactive/pixi.toml
  example_postgres/.gitattributes
  example_postgres/.gitignore
  example_postgres/pixi.lock
  example_postgres/pixi.toml
Due: taplo, check-merge-conflict

Extended postgres example with pydiverse.transform, dataframely, and colspec functionality
  example_postgres/pipedag.yaml
  example_postgres/pixi.lock
  example_postgres/pixi.toml
  example_postgres/run_pipeline.py
Due: taplo, check-merge-conflict, insert-license

Try fix smoke tests
  tests/test_flows/test_example.py
Due: check-merge-conflict, insert-license

Fix IBM DB2 polars database reading.
  example_ibm_db2/run_pipeline.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb.py
  src/pydiverse/pipedag/backend/table/sql/dialects/ibm_db2.py
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/dialects/postgres.py
  src/pydiverse/pipedag/backend/table/sql/dialects/snowflake.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: check-merge-conflict, insert-license

Fix skipif
  tests/test_lock_manager.py
Due: check-merge-conflict, insert-license

Release 0.10.5
  pyproject.toml
Due: taplo, check-merge-conflict

Fix smoke test
  tests/test_table_hooks/test_pandas_hook.py
Due: check-merge-conflict, insert-license

Implemented realistic_pipeline.py example in example_postgres/
  docs/source/changelog.md
  example_postgres/realistic_pipeline.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  tests/conftest.py
  tests/test_flows/test_example.py
Due: check-merge-conflict, insert-license

Implemented realistic_pipeline.py example in example_parquet_s3/
  example_parquet_s3/data/pipedag_example_data/a.csv.gz
  example_parquet_s3/data/pipedag_example_data/b.csv.gz
  example_parquet_s3/data/pipedag_example_data/c.csv.gz
  example_parquet_s3/pixi.lock
  example_parquet_s3/pixi.toml
  example_parquet_s3/realistic_pipeline.py
  example_postgres/pixi.lock
  tests/test_flows/test_example.py
Due: taplo, check-merge-conflict, insert-license

Fix mssql specific test.
  tests/test_inputs.py
Due: check-merge-conflict, insert-license

Tiny cleanup of realistic_pipeline.py
  example_parquet_s3/realistic_pipeline.py
  example_postgres/realistic_pipeline.py
Due: check-merge-conflict, insert-license

Implemented realistic_pipeline.py example in example_mssql/
  example_mssql/data/pipedag_example_data/a.csv.gz
  example_mssql/data/pipedag_example_data/b.csv.gz
  example_mssql/data/pipedag_example_data/c.csv.gz
  example_mssql/pixi.lock
  example_mssql/pixi.toml
  example_mssql/realistic_pipeline.py
  pipedag.yaml
  tests/test_flows/test_example.py
Due: taplo, check-merge-conflict, insert-license

prepare release 0.10.6
  pyproject.toml
Due: taplo, check-merge-conflict

explain pipedag.yaml of S3 parquet example
  example_parquet_s3/pipedag.yaml
Due: check-merge-conflict

Explain new realistic example.
  docs/source/best_practices.md
  docs/source/examples.md
  docs/source/examples/realistic_pipeline.md
  docs/source/examples/realistic_pipeline.zip
  docs/source/reference/config.md
  example_ibm_db2/run_pipeline.py
  example_mssql/run_pipeline.py
  example_parquet_s3/run_pipeline.py
  example_postgres/run_pipeline.py
Due: check-merge-conflict, insert-license
