Repository pydiverse/pydiverse.pipedag: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-merge-conflict, insert-license

.pre-commit-config.yaml:

exclude: ^.pixi$
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # ruff
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      # - id: mypy
      #   name: mypy
      #   entry: pixi run -e lint mypy
      #   language: system
      #   types: [python]
      #   require_serial: true
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]
        exclude: ^pixi\.toml$  # environments should be one-liners
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
        exclude: ".rst$"
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # insert-license
      - id: insert-license
        name: insert-license
        entry: >-
          pixi run -e lint
          insert-license
          --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIGFuZCBweWRpdmVyc2UgY29udHJpYnV0b3JzIDIwMjUtMjAyNQpTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg==
          --dynamic-years
          --comment-style "#"
        language: system
        types: [python]

Try fix occasional hanging lock manager tests.
  tests/test_lock_manager.py
Due: check-merge-conflict, insert-license

Cleanup documentation/examples.
  README.md
  docs/package/README.md
  docs/source/database_testing.md
  docs/source/examples/best_practices_inline.md
  docs/source/examples/best_practices_sql.md
  docs/source/examples/group_and_visualize.md
  docs/source/examples/imperative_materialization.md
  docs/source/examples/interactive_development.md
  docs/source/examples/multi_instance_pipeline.md
  docs/source/examples/simple_pipeline.md
  docs/source/examples/stage_validation.md
  docs/source/examples/zip/example.zip
  docs/source/examples/zip/example_ibm_db2.zip
  docs/source/examples/zip/example_imperative.zip
  docs/source/examples/zip/example_mssql.zip
  docs/source/examples/zip/example_parquet_s3.zip
  docs/source/examples/zip/example_postgres.zip
  docs/source/quickstart.md
  docs/source/table_backends.md
  example/pixi.lock
  example/pixi.toml
  example_ibm_db2/pixi.lock
  example_ibm_db2/pixi.toml
  example_imperative/run_pipeline.py
  example_interactive/run_tasks_interactively.py
  example_mssql/pixi.lock
  example_mssql/pixi.toml
  example_parquet_s3/pixi.lock
  example_parquet_s3/pixi.toml
  example_parquet_s3/realistic_pipeline.py
  example_parquet_s3/run_pipeline.py
  example_postgres/pixi.lock
  example_postgres/pixi.toml
  example_postgres/run_pipeline_small.py
  pixi.toml
  tests/test_flows/test_example.py
Due: taplo, check-merge-conflict, insert-license

Fix quickstart.md indentation
  docs/source/quickstart.md
Due: check-merge-conflict

Speedup insert into for IBM DB2 by using LOAD
  src/pydiverse/pipedag/backend/table/sql/ddl.py
Due: check-merge-conflict, insert-license

Fix DB2: escape "'" when select statement is inserted in ADMIN_CMD
  src/pydiverse/pipedag/backend/table/sql/ddl.py
Due: check-merge-conflict, insert-license

Prepare release 0.10.7
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

Better documented Parquet backend.
  docs/source/images/datagrip_s3_options01.png
  docs/source/images/datagrip_s3_options02.png
  docs/source/index.md
  docs/source/parquet_s3.md
  docs/source/table_backends.md
Due: check-merge-conflict

Orchestration test: disable py311pdsa1all
  .github/workflows/tests.yml
Due: check-merge-conflict

improved input-type documentation
  docs/source/table_backends.md
Due: check-merge-conflict

Improved documentation.
  docs/source/parquet_s3.md
  docs/source/table_backends.md
Due: check-merge-conflict

fix: Do not cut MSSQL VARCHAR if length is given
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
Due: check-merge-conflict, insert-license

changelog
  docs/source/changelog.md
Due: check-merge-conflict

fix: Do not cut MSSQL VARCHAR if length is given (#266)
  docs/source/changelog.md
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
Due: check-merge-conflict, insert-license

feat: Add parameter `write_local_table_cache` to `Result.get`
  src/pydiverse/pipedag/context/run_context.py
  src/pydiverse/pipedag/core/result.py
  tests/test_cache/test_local_table_cache.py
Due: check-merge-conflict, insert-license

changelog and docs
  docs/source/changelog.md
  src/pydiverse/pipedag/core/result.py
Due: check-merge-conflict, insert-license

fix
  src/pydiverse/pipedag/core/result.py
Due: check-merge-conflict, insert-license

fix
  src/pydiverse/pipedag/materialize/core.py
Due: check-merge-conflict, insert-license

typo
  src/pydiverse/pipedag/core/result.py
Due: check-merge-conflict, insert-license

feat: Add `write_local_table_cache` to `Result.get()` (#268)
  docs/source/changelog.md
  src/pydiverse/pipedag/context/run_context.py
  src/pydiverse/pipedag/core/result.py
  src/pydiverse/pipedag/materialize/core.py
  tests/test_cache/test_local_table_cache.py
Due: check-merge-conflict, insert-license

feat: Add `write_local_table_cache` parameter to `get_output_from_store`
  src/pydiverse/pipedag/materialize/core.py
  src/pydiverse/pipedag/materialize/materializing_task.py
  tests/test_materializing_task.py
Due: check-merge-conflict, insert-license

feat: Add `write_local_table_cache` parameter to `get_output_from_store` (#269)
  docs/source/changelog.md
  src/pydiverse/pipedag/materialize/core.py
  src/pydiverse/pipedag/materialize/materializing_task.py
  tests/test_materializing_task.py
Due: check-merge-conflict, insert-license

Prepare release 0.10.8
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

fix deps
  pyproject.toml
Due: taplo, check-merge-conflict

simplify test
  tests/test_cache/test_basic_cache_invalidation.py
Due: check-merge-conflict, insert-license

docs and ExternalTableReference
  docs/source/examples/realistic_pipeline.md
  docs/source/quickstart.md
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/materialize/core.py
Due: check-merge-conflict, insert-license

Bug fix: Remove default S3 endpoint.
  docs/source/parquet_s3.md
  example_parquet_s3/pipedag.yaml
  example_parquet_s3/realistic_pipeline.py
  example_parquet_s3/run_pipeline.py
  pipedag.yaml
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  tests/conftest.py
Due: check-merge-conflict, insert-license

docs: Improve `AUTO_VERSION` docs
  docs/source/quickstart.md
  src/pydiverse/pipedag/materialize/core.py
  src/pydiverse/pipedag/materialize/materializing_task.py
Due: check-merge-conflict, insert-license

Add warning
  src/pydiverse/pipedag/materialize/materializing_task.py
Due: check-merge-conflict, insert-license

Feedback
  src/pydiverse/pipedag/materialize/materializing_task.py
Due: check-merge-conflict, insert-license
