Repository pydiverse/pydiverse.pipedag: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-merge-conflict, insert-license

.pre-commit-config.yaml:

exclude: ^.pixi$
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # ruff
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      # - id: mypy
      #   name: mypy
      #   entry: pixi run -e lint mypy
      #   language: system
      #   types: [python]
      #   require_serial: true
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]
        exclude: ^pixi\.toml$  # environments should be one-liners
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
        exclude: ".rst$"
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # insert-license
      - id: insert-license
        name: insert-license
        entry: >-
          pixi run -e lint
          insert-license
          --license-base64 Q29weXJpZ2h0IChjKSBRdWFudENvIGFuZCBweWRpdmVyc2UgY29udHJpYnV0b3JzIDIwMjUtMjAyNQpTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNlCg==
          --dynamic-years
          --comment-style "#"
        language: system
        types: [python]

docs: Improve `AUTO_VERSION` docs (#274)
  docs/source/quickstart.md
  src/pydiverse/pipedag/materialize/core.py
  src/pydiverse/pipedag/materialize/materializing_task.py
Due: check-merge-conflict, insert-license

Refactored the generation of S3 storage_options for duckdb/pandas/polars/fsspec/pyarrow
  example_parquet_s3/pipedag.yaml
  pipedag.yaml
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  tests/conftest.py
Due: check-merge-conflict, insert-license

Avoid error with missing storage_options for polars < 1.3.0.
  docs/source/changelog.md
  docs/source/parquet_s3.md
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

Implemented view synchronization for separate metadata_store.
  example_parquet_s3/docker-compose.yaml
  example_parquet_s3/pipedag.yaml
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/sql.py
Due: check-merge-conflict, insert-license

Fix #278
  docs/source/examples/zip/example.zip
  docs/source/examples/zip/example_ibm_db2.zip
  docs/source/examples/zip/example_imperative.zip
  docs/source/examples/zip/example_mssql.zip
  docs/source/examples/zip/example_parquet_s3.zip
  docs/source/examples/zip/example_postgres.zip
  example_parquet_s3/pixi.lock
  example_parquet_s3/pixi.toml
Due: taplo, check-merge-conflict

Fix #277
  src/pydiverse/pipedag/backend/table/sql/hooks.py
Due: check-merge-conflict, insert-license

update changelog.md
  docs/source/changelog.md
Due: check-merge-conflict

Improved testing (+fixes) of metadata_store view synchronization.
  src/pydiverse/pipedag/backend/lock/database.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/context/context.py
  src/pydiverse/pipedag/core/flow.py
  tests/test_materializing_task.py
Due: check-merge-conflict, insert-license

Update changelog.md
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

Align example configuration
  docs/source/parquet_s3.md
Due: check-merge-conflict

Update Parquet/S3 documentation.
  docs/source/parquet_s3.md
Due: check-merge-conflict

Update s3 documentation (#279)
  docs/source/parquet_s3.md
Due: check-merge-conflict

Defer initialization of instance_id.
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/context/context.py
  src/pydiverse/pipedag/materialize/store.py
Due: check-merge-conflict, insert-license

Prepare 0.10.11 release
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

Defer initialization of instance_id and fix problem in ParquetTableCache with multi-config code. (#280)
  docs/source/changelog.md
  pyproject.toml
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/context/context.py
  src/pydiverse/pipedag/materialize/store.py
Due: taplo, check-merge-conflict, insert-license

feat: Automatically check cache-validity of polars DataFrame tasks based on their output
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  tests/test_cache/test_basic_cache_invalidation.py
Due: check-merge-conflict, insert-license

changelog
  docs/source/changelog.md
Due: check-merge-conflict

docs and ExternalTableReference
  docs/source/examples/realistic_pipeline.md
  docs/source/quickstart.md
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/materialize/core.py
Due: check-merge-conflict, insert-license

simplify test
  tests/test_cache/test_basic_cache_invalidation.py
Due: check-merge-conflict, insert-license

Fix S3 example and update auto_table
  docs/source/parquet_s3.md
  example_parquet_s3/pipedag.yaml
Due: check-merge-conflict

Fix error messages.
  src/pydiverse/pipedag/util/json.py
Due: check-merge-conflict, insert-license

Also test lazy that collection member access works during wiring time.
  tests/test_annotation_integrations/test_colspec.py
Due: check-merge-conflict, insert-license

Support Google Cloud Storage.
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
Due: check-merge-conflict, insert-license

Support Google Cloud Storage.
  docs/source/changelog.md
Due: check-merge-conflict

work status
  docs/source/table_backends.md
  example_ibm_db2/pipedag.yaml
  example_mssql/pipedag.yaml
  example_postgres/pipedag.yaml
  pipedag.yaml
  src/pydiverse/pipedag/__init__.py
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/container/__init__.py
  src/pydiverse/pipedag/context/context.py
  src/pydiverse/pipedag/core/task.py
  src/pydiverse/pipedag/materialize/materializing_task.py
  src/pydiverse/pipedag/materialize/store.py
  src/pydiverse/pipedag/util/json.py
  tests/test_cache/test_basic_cache_invalidation.py
  tests/test_materialize.py
  tests/test_table_hooks/test_sql_table_reference.py
  tests/util/tasks_library.py
Due: check-merge-conflict, insert-license

Implemented View.
  docs/source/table_backends.md
  example_ibm_db2/pipedag.yaml
  example_mssql/pipedag.yaml
  example_postgres/pipedag.yaml
  pipedag.yaml
  src/pydiverse/pipedag/__init__.py
  src/pydiverse/pipedag/backend/table/sql/ddl.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/container/__init__.py
  src/pydiverse/pipedag/context/context.py
  src/pydiverse/pipedag/core/task.py
  src/pydiverse/pipedag/materialize/materializing_task.py
  src/pydiverse/pipedag/materialize/store.py
  src/pydiverse/pipedag/util/json.py
  tests/test_cache/test_basic_cache_invalidation.py
  tests/test_materialize.py
  tests/test_table_hooks/test_sql_table_reference.py
  tests/util/tasks_library.py
Due: check-merge-conflict, insert-license

Implemented pydiverse transform view retrieval.
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/materialize/materializing_task.py
  tests/test_materialize.py
Due: check-merge-conflict, insert-license

Implemented/fixed view retrieval for duckdb_parquet.
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  tests/test_table_hooks/test_sql_table_reference.py
Due: check-merge-conflict, insert-license

Fix colspec tests.
  tests/test_annotation_integrations/test_colspec.py
Due: check-merge-conflict, insert-license

Improved comments.
  src/pydiverse/pipedag/backend/table/cache/parquet.py
  src/pydiverse/pipedag/backend/table/sql/dialects/duckdb_parquet.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/materialize/store.py
  src/pydiverse/pipedag/materialize/table_hook_base.py
Due: check-merge-conflict, insert-license

Fixed mssql errors and test_colspec detection of pydiverse.transform optional dependency.
  src/pydiverse/pipedag/backend/table/sql/dialects/mssql.py
  src/pydiverse/pipedag/backend/table/sql/hooks.py
  src/pydiverse/pipedag/util/sql.py
  tests/test_annotation_integrations/test_colspec.py
  tests/test_inputs.py
Due: check-merge-conflict, insert-license
